@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  transition: all 150ms ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.4em;
  text-decoration-color: #e2e2e2;
  text-decoration-thickness: 0.05em;
}

textarea {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /*border: 1px solid rgb(121, 142, 238);*/ /* Add this line */
}

textarea:focus {
  outline: none;
  border: 1px solid lightblue; /* Replace with your preferred border color */
}

a:hover {
  color: #833FFF;
  text-decoration-color: #bb96ff;
}